/* UTILS AND RESET*/
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  cursor: pointer;
}
:root {
  --light-blu: #bedbfc;
  --dark-blu: #aad2ff;
  --soft-lavanda: #dec9ec;
  --mint: #b1f8b1;
  --orange: #ffd298f7;
  --yellow: #f8edb1;
  --background-body: rgb(255, 255, 255);
  --sidebar-width: 300px;
}
body {
  background-color: var(--background-body);
}
.orange {
  background-color: var(--orange);
}
.yellow {
  background-color: var(--yellow);
}
.mint {
  background-color: var(--mint);
}
.light-blu {
  background-color: var(--light-blu);
}
/*WELCOME PAGE*/
.welcome-column {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: var(--background-body);
  transition: transform 0.5s ease;
}

.welcome-column.right {
  transform: translateX(0%);
}

.welcome-column.left {
  transform: translateX(100%);
}
.welcome-form {
  padding: 15px;
  border-radius: 20px;

  width: 400px;
  margin: 20px 0px;
}
.image-background {
  background-image: url("images/background-img-todolist1.png");
  background-size: cover;
  background-position: center;
}
/*SIDEBAR*/
.sidebar {
  position: fixed;
  width: var(--sidebar-width);
  overflow: hidden;
  min-height: 100vh;

  background-color: var(--light-blu);
  display: flex;
  flex-direction: column;
}

.sidebar-item {
  padding: 20px;
  font-size: 1.1rem;
  font-weight: 600;
  color: white;
}
.sidebar-li:hover {
  background-color: var(--dark-blu);
  border-right: 3px solid rgb(66, 145, 248);
}
main {
  margin-left: var(--sidebar-width);
  width: calc(100vw - var(--sidebar-width));
}
/*HOME*/
.home-welcome {
  padding: 20px;

  border-radius: 20px;
  background-color: var(--soft-lavanda);
}
.task-container {
  width: 400px;
  cursor: pointer;
  padding: 10px 20px;
}
.category-container {
  padding: 20px;
  border-radius: 20px;
}
/*CALENDAR*/
.react-calendar {
  width: auto !important;
  border-radius: 20px !important;
  min-height: 200px !important;
}
.react-calendar__navigation {
  height: 60px !important;
}
.react-calendar__navigation__label__labelText {
  font-size: 1.1rem !important;
  font-weight: 600 !important;
}
.react-calendar__month-view__weekdays__weekday {
  font-size: 1rem !important;
  font-weight: 500 !important;
}
abbr[title] {
  text-decoration: none !important;
}

.react-calendar__month-view__days {
  min-height: 500px !important;
}
